@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Custom Fonts */
@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori";
  src: url("/fonts/PPMori-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: rgb(249 249 249);
  --foreground: rgb(20 20 20);
  --card: rgb(249 249 249);
  --card-foreground: rgb(20 20 20);
  --popover: rgb(249 249 249);
  --popover-foreground: rgb(20 20 20);
  --primary: rgb(237 83 21);
  --primary-foreground: rgb(249 249 249);
  --secondary: rgb(226 224 211);
  --secondary-foreground: rgb(20 20 20);
  --muted: rgb(226 224 211);
  --muted-foreground: rgb(96 96 96);
  --accent: rgb(226 224 211);
  --accent-foreground: rgb(20 20 20);
  --destructive: rgb(227 36 0);
  --border: rgb(226 224 211);
  --input: rgb(226 224 211);
  --ring: rgb(237 83 21);
  --chart-1: rgb(237 83 21);
  --chart-2: rgb(255 64 19);
  --chart-3: rgb(227 36 0);
  --chart-4: rgb(131 17 0);
  --chart-5: rgb(92 7 0);
  --sidebar: rgb(226 224 211);
  --sidebar-foreground: rgb(20 20 20);
  --sidebar-primary: rgb(237 83 21);
  --sidebar-primary-foreground: rgb(252 252 252);
  --sidebar-accent: rgb(226 224 211);
  --sidebar-accent-foreground: rgb(20 20 20);
  --sidebar-border: rgb(235 235 235);
  --sidebar-ring: rgb(180 180 180);

  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --font-text: "PP Mori", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-title: "PP Mori", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-caption: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  --radius: 1rem;

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);

  --tracking-normal: 0.025em;
}

.dark {
  --background: rgb(20 20 20);
  --foreground: rgb(249 249 249);
  --card: rgb(38 38 38);
  --card-foreground: rgb(249 249 249);
  --popover: rgb(48 48 48);
  --popover-foreground: rgb(249 249 249);
  --primary: rgb(237 83 21);
  --primary-foreground: rgb(249 249 249);
  --secondary: rgb(226 224 211);
  --secondary-foreground: rgb(20 20 20);
  --muted: rgb(20 20 20);
  --muted-foreground: rgb(226 224 211);
  --accent: rgb(226 224 211);
  --accent-foreground: rgb(20 20 20);
  --destructive: rgb(227 36 0);
  --border: rgb(62 62 56);
  --input: rgb(81 80 74);
  --ring: rgb(237 83 21);
  --chart-1: rgb(237 83 21);
  --chart-2: rgb(217 80 0);
  --chart-3: rgb(173 62 0);
  --chart-4: rgb(124 42 0);
  --chart-5: rgb(90 28 0);
  --sidebar: rgb(31 31 31);
  --sidebar-foreground: rgb(195 193 186);
  --sidebar-primary: rgb(53 53 53);
  --sidebar-primary-foreground: rgb(252 252 252);
  --sidebar-accent: rgb(15 15 15);
  --sidebar-accent-foreground: rgb(195 193 186);
  --sidebar-border: rgb(235 235 235);
  --sidebar-ring: rgb(180 180 180);

  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1), 0 8px 10px -1px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-text: var(--font-text);
  --font-title: var(--font-title);
  --font-caption: var(--font-caption);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
